@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Patua+One&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,400&display=swap');